html{
  width: 600px ;
}

.topBar{
  width: 100%;
  margin-bottom: 10px;
}
#lastUpdatedAt{
  float:right;
}
#message{
  background-color: yellow;
}
#containerTable{
  width: 100%;
  border-color:#d3d3d3;
  margin-bottom: 20px;
}
#containerTable .small{
  width:80px ;
}
th{
  text-align:left;
}

.row0 {
  background-color: #efefef ;
}

.row1{
  background-color: #d8d8d8;
}

